@model CarritoDeCompras.Models.Compra

@{
    ViewData["Title"] = "Finalizar Compra";
}

<h1>FinalizarCompra</h1>

<h4>Compra</h4>
<hr />
<h3>Elija la sucursal para retirar su productos</h3>
<hr />
@if (@ViewBag.MessageError != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.MessageError
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="FinalizarCompra">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" readonly="readonly" asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" readonly="readonly" asp-for="CarritoId" class="form-control" />
                <span asp-validation-for="CarritoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SucursalId" class="control-label">Elija su sucursal</label>
                <select asp-for="SucursalId" class="form-control" asp-items="ViewBag.SucursalId"></select>
                <span asp-validation-for="SucursalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input readonly="readonly" asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Finalizar compra</button>
            </div>
        </form>
    </div>
</div>
<!--<div>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio Actual
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    SubTotal
                </th>
            </tr>
        </thead>
        <tbody>
            foreach (var item in Model.Carrito.Items)
            {
                <tr>
                    <td>
                      Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                      Html.DisplayFor(modelItem => item.Producto.PrecioVigente)
                    </td>
                    <td>
                      Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                      Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>-->
<div>
    <a asp-action="Details" asp-controller="MiCarrito" asp-route-id="@Model.CarritoId" class="btn btn-primary">Volver al carrito</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
