@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-xl-center">
    <img src=https://www.lzmradiomiami.com/wp-content/uploads/2018/05/Politica_de_Privacidad.jpg height="600" width="1000" />

</div>