@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-danger">
    <h1 class="display-4">POLITICA DE PRIVACIDAD</h1>

</div>
<div class="text-lg-center">
    <h1 class="display-4">Todos los productos son propiedad del grupo 3</h1>

</div>