@model IEnumerable<CarritoDeCompras.Models.Usuario>

    @{
      ViewData["Title"] = "Acceso Denegado";
    }

<div class="text-xl-center">
    <img src=https://ipysvenezuela.org/wp-content/uploads/2021/05/00_portada_twitterFB.jpg height="600" width="1000" />

</div>
  
