@model IEnumerable<CarritoDeCompras.Models.Usuario>

    @{
      ViewData["Title"] = "Acceso Denegado";
    }

    <h1 class="text-danger">Acceso Denegado</h1>

    <p>
        No tiene permisos para ver esta pantalla
    </p>
  
